PORT=8000
GOOGLE_APPLICATION_CREDENTIALS=service-account.json
GOOGLE_IMPERSONATED_USER=sahil@mietjammu.in
MONGODB_URI=mongodb+srv://summaradm_db_user:QLvLxsU1xdbVmV6t@cluster0.kmoci95.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=classroom_insights
FRONTEND_ORIGIN=http://localhost:5173
EMAIL_USER=notifications@mietjammu.in
EMAIL_PASS=oytj zyxp kxbl wguk
EMAIL_USER=notifications@mietjammu.in
EMAIL_PASS=oytj zyxp kxbl wguk
